*.lua~
*.luac

*.love

__pycache__/
*.py[cod]
*.so
.Python
env/
build/
dist/
.eggs/
*.egg-info/
.installed.cfg

.vscode/
.idea/

*.log

game
game.exe

model/results/
model/generated.log
model/headlines_dataset.json
model/main-train.py
model/train_data.py
model/run_server.py

# 
.env